<div id="pro_in_wrap">
    <div id="content_left">
        <div id="assinavi">
            <h1>關於網星</h1>
            <dl>
                <dt><a href="@Url.Action("about")">關於網星</a></dt>
                <dt><a href="@Url.Action("achievements")">大事記</a></dt>
                <dt><a href="@Url.Action("milestones")">重要里程碑</a></dt>
                <dt><a href="@Url.Action("news")">最新消息</a></dt>
                <dt><a href="@Url.Action("customers")">客戶資料</a></dt>
                <dt><a href="@Url.Action("career")">人才招募</a></dt>
                <dt><a href="@Url.Action("contact")">聯絡資訊</a></dt>
            </dl>
        </div>
    </div>

    <!--Banner -->
    <div id="content_right_banner"><img src="~/Content/images/company_banner.jpg" width="890" height="180" /></div>
    <!--Banner end -->


    <div id="content_right">
        <div id="guild">
            <ul class="root">
                <span class="home"><a href="@Url.Action("index")"></a></span>
                <li><a href="@Url.Action("about")">關於網星</a></li>
                <li>使用條款</li>      
            </ul>
        </div>

        <h2>使用條款</h2>


        <!-- About content -->
        <div class="about_content">
            <div class="txt">
                <table border="0" width="100%" id="table1">
                    <tr>
                        <td colspan="2"><font color="#0A4263"><b>1. 認知與接受條款</b></font></td>
                    </tr>
                    <tr>
                        <td width="2%">&nbsp;</td>
                        <td width="97%">
                            網星資訊股份有限公司 (「網星資訊」)係根據本條款提供網星資訊 (http://www.ebsuccess.com及http://www.mit247.com)服務。當您使用時, 即表示您已閱讀、了解並同意接受本條款之所有內容。網星資訊有權修改或變更本條款內容, 建議使用者隨時注意權修改或變更事宜。
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" height="45"><font color="#0A4263"><b>2. 隱私權政策</b></font></td>
                    </tr>
                    <tr>
                        <td width="2%">&nbsp;</td>
                        <td width="97%">關於使用者的資料均受到網星資訊「隱私權政策」之規範。</td>
                    </tr>
                    <tr>
                        <td colspan="2" height="45"><font color="#0A4263"><b>3. 會員帳號、密碼及安全</b></font></td>
                    </tr>
                    <tr>
                        <td width="2%">&nbsp;</td>
                        <td width="97%">維持密碼及帳號的安全是使用者的責任。利用該密碼及帳號所進行的一切行動, 使用者需負完全的責任, 並請遵守。當您的密碼或帳號遭到盜用或有其他任何安全問題發生時, 請將立即通知我們。</td>
                    </tr>
                    <tr>
                        <td colspan="2" height="45"><font color="#0A4263"><b>4. 使用者的守法義務及承諾 </b></font></td>
                    </tr>
                    <tr>
                        <td width="2%">&nbsp;</td>
                        <td width="97%">
                            使用者需承諾決不為任何非法目的或以任何非法方式使用網星資訊網站, 並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例。您若係中華民國以外之使用者, 並同意遵守所屬國家或地域之法令。您同意並保證不得對於使用（或未使用）網星資訊之第三人、網星資訊、網星資訊之從業人員以及相關合作廠商做出侵害其權益之事，包括但不限於：
                            <p>
                                A. 公布或傳送任何誹謗、侮辱、具威脅性、攻擊性、不雅、猥褻、不實、違反公共秩序或善良風俗或其他不法之文字、圖片或任何形式的檔案於網星資訊上；

                            </p>
                            <p>
                                B. 侵害他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利；
                            </p>
                            <p>
                                C. 違反依法律或契約所應負之保密義務；
                            </p>
                            <p>
                                D. 冒用他人名義使用網星資訊；
                            </p>
                            <p>
                                E. 傳輸或散佈電腦病毒；
                            </p>
                            <p>
                                F. 張貼虛假不實、引人犯罪之訊息；
                            </p>
                            <p>G. 其他網星資訊有正當理由認為不適當之行為。
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" height="45"><font color="#0A4263"><b>5. 下載軟體或資料</b></font></td>
                    </tr>
                    <tr>
                        <td width="2%">&nbsp;</td>
                        <td width="97%">
                            網星資訊對於您使用網星資訊下載的軟體或資料，不負任何擔保責任。您應於下載前自行斟酌與判斷前述軟體或資料之合適性、有效性、正確性、完整性、及是否侵害他人權利，以免遭受損失；網星資訊對於該等損失不負任何賠償責任。
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" height="45"><font color="#0A4263"><b>6. 資訊或建議</b></font></td>
                    </tr>
                    <tr>
                        <td width="2%">&nbsp;</td>
                        <td width="97%">
                            網星資訊對於您使用網星資訊取得之資訊或建議, 不擔保其為完全正確無誤。網星資訊對於所提供前述資訊或建議有權隨時修改或刪除。您在做出任何相關規劃與決定之前，仍應請教專業人員針對您的情況提出意見，以符合您的個別需求。

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" height="45"><font color="#0A4263"><b>7. 免責聲明</b></font></td>
                    </tr>
                    <tr>
                        <td width="2%">&nbsp;</td>
                        <td width="97%">
                            您明確了解並同意：
                            網星資訊對本服務不保證以下事項：(i)本服務將符合您的要求，(ii)本服務不受干擾、及時提供、安全可靠或免於出錯，(iii)由本服務之使用而取得之結果為正確或可靠，及(iv)您經由本服務購買或取得之任何產品、服務、資訊或其他資料將符合您的期望。
                            是否經由本服務之使用下載或取得任何資料應由您自行考量且自負風險，因前述任何資料之下載而導致您電腦系統之任何損壞或資料流失，您應負完全責任。您自網星資訊或經由本服務取得之建議和資訊，無論其為書面或口頭，均不構成本服務之保證。
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" height="45"><font color="#0A4263"><b>8. 智慧財產權的保護</b></font></td>
                    </tr>
                    <tr>
                        <td width="2%">&nbsp;</td>
                        <td width="97%">
                            網星資訊所使用之軟體或程式、網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計，均由網星資訊或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。若您欲引用或轉載前述軟體、程式或網站內容，必須依法取得網星資訊或其他權利人的事前書面同意。尊重智慧財產權是您應盡的義務，如有違反，您應對網星資訊負損害賠償責任（包括但不限於訴訟費用及律師費用等）。
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" height="45"><font color="#0A4263"><b>9. 拒絕或終止您的使用</b></font></td>
                    </tr>
                    <tr>
                        <td width="2%">&nbsp;</td>
                        <td width="97%">您同意網星資訊得基於其自行之考量，因任何理由，包含但不限於缺乏使用，或網星資訊認為您已經違反本服務條款的明文規定及精神，終止您的密碼、帳號（或其任何部分）或本服務之使用，並將本服務內任何「會員內容」加以移除並刪除。網星資訊亦得依其自行之考量，於通知或未通知之情形下，隨時終止本服務或其任何部分。您同意依本服務條款任何規定提供之本服務，無需進行事先通知即得終止，您承認並同意，網星資訊得立即關閉或刪除您的帳號及您帳號中所有相關資料及檔案，及/或禁止前開檔案和本服務之使用。此外，您同意若本服務之使用被終止，網星資訊對您或任何第三人均不承擔責任。</td>
                    </tr>
                </table>
                <p>&nbsp;</p>
            </div>
        </div>
        <!-- About content end-->
    </div>
</div>