<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>匯融資訊股份有限公司</title>
    @{
        var getPageIdParameter = ViewContext.RouteData.Values.Where(x => x.Value.ToString() == "Page").Any();
        if (getPageIdParameter)
        {
            <meta name="keywords" content="@ViewBag.MetaKeywords" />
            <meta name="description" content="@ViewBag.MetaDescription" />
            <meta name="title" content="@ViewBag.MetaTitle" />
        }
        else
        {
            @Html.Action("PageMeta", "Common", new { pageId = 999999 })
        }
    }
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/oldcss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jflow")
    @Scripts.Render("~/bundles/modernizr") 


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-3804798-1', 'auto');
        ga('send', 'pageview');
    </script>
    <style>
        #contact {
            display: grid;
            border-style: solid;
            border-width: thin;
            border-radius: 15px;
            width: 80px;
            grid-template-rows: 1fr 1fr 1fr;
            height: 250px;
            z-index: 1001;
            margin-top:40px;
            position:fixed;
            right:0;
            text-align:center;
            padding-top:20px;
        }
            .closed{
            background-color:white;
            line-height: 20px;
            text-align: center;
            height: 20px;
            font-size: 18px;
            top: -12px;
            right: 29px;
            position: absolute;
        }
            .closed::before {
            content: "\1F340";
        }
        #head {
            font-size: 20px;
        }
    </style>
</head>

<body>

    @Html.Partial("Menu")
    <div class="site-content">
        <div id="contact">
            <span class="closed"></span>
            <a href="https://line.me/zh-hant/" target="_blank"><img src="~/Content/images/Line-messenger-app-logo.png" width="50" height="50" class="contact_pos" /></a>
            <a href="https://zh-tw.facebook.com/" target="_blank"><img src="~/Content/images/fb.png" width="50" height="50" class="contact_pos" /></a>
            <a href="https://www.skype.com/zh-Hant/" target="_blank"><img src="~/Content/images/skype.png" width="50" height="50" class="contact_pos" /></a>
        </div>
        @RenderBody()
    </div>  
    @Html.Partial("Footer")


    @Scripts.Render("~/bundles/respond")
    @RenderSection("scripts", required: false)
</body>
</html>