@Styles.Render("~/Content/bootstrapStyle")
@Scripts.Render("~/bundles/bootstrap")

@model List<ebSuccessWebSite.Models.BannerModel>

@helper RenderBanner(ebSuccessWebSite.Models.BannerModel banner)
{
    string imageBase64 = Convert.ToBase64String(banner.Picture);
    string imageSrc = string.Format("data:" + banner.MimeType + ";base64,{0}", imageBase64);

    <tr align="center">
        <td>@banner.Name</td>
        <td><a href="@banner.Url" target="_blank"><img src="@imageSrc" alt="@banner.Alt" width="100"></a></td>
        <td>@banner.Alt</td>
        <td><button type="button" class="btn btn-success" onclick="Modify(@banner.Id)" data-toggle="modal" data-target="#myModal">修改</button></td>
        <td><button type="button" class="btn btn-danger" onclick="Del(@banner.Id)">刪除</button></td>
    </tr>
}
<style>
    .banner-content{
        padding-top:20px;
        width:980px;
        margin: 0 auto;
    }
        h1 {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
    /* basic modern patch */
    all: initial;
    all: unset;
}
</style>
<div class="banner-content">
    <div class="panel panel-success">
        <div class="panel-heading">上傳Banner</div>
        <div class="panel-body">
            <form id="UploadBannerForm">           
                <div class="form-group">
                    <label for="Name">Banner名稱</label>
                    <input type="text" class="form-control" id="Name" name="Name">
                </div>
                <div class="form-group">
                    <label for="Url">網址</label>
                    <input type="text" class="form-control" id="Url" name="Url" placeholder="請輸入Banner網址">
                </div>
                <div class="form-group">
                    <label for="Url">Alt</label>
                    <input type="text" class="form-control" id="Alt" name="Alt" placeholder="請輸入Alt內容">
                </div>
                <div class="form-group">
                    <label for="Picture">上傳Banner圖檔</label>
                    <input type="file" id="Picture" name="Picture">                
                </div>
                <hr>
                <div class="form-group" align="center">
                    <button type="submit" class="btn btn-success">上傳</button>
                    <button type="reset" class="btn btn-danger">重填</button>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">編輯廣告</div>
        <div class="panel-body" id="AdListContainer">
            @if (Model.Count > 0)
            {
                <table class="table table-hover">
                    <thead>
                        <tr align="center" class="warning">
                            <td>Banner名稱</td>
                            <td>Banner</td>
                            <td>Alt</td>
                            <td>修改</td>
                            <td>刪除</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var oneBanner in Model)
                        {
                            @RenderBanner(oneBanner)
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div style="text-align:center;">沒有任何Banner</div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">	
				$("#UploadBannerForm").submit(function (event) {
				    event.preventDefault();
				    var formData = new FormData($(this)[0]);
				    $.ajax({
				        url: "@Url.Action("Banner", "Admin")",
				        type: "POST",
				        data: formData,
				        async: false,
				        cache: false,
				        contentType: false,
				        processData: false,
				        dataType: "json",
				        success: function (returndata) {
				            if (returndata.Success) {
				                alert("上傳成功");
				                RefreshPage();
				            } else {
				                alert(returndata.Message);
				            }
				        }
				    });
				});

				function RefreshPage()
				{
					location.reload();
				}	

				function Modify(id)
				{
				    $.post("@Url.Action("GetBanner", "Admin")", { bannerId: id }, function (data)
					{
						$("#myModalLabel").html(data.Title);
						$(".modal-body").html(data.Body);

					},"json");
				}

				function Del(id)
				{
					var r = confirm("確定要刪除？");
					if (r == true)
					{
					    $.post("@Url.Action("DelBanner", "Admin")", {bannerId: id }, function (data)
						{
							if (data.Success)
							{
								alert("刪除成功");
								RefreshPage();
							}
							else
							{
							    alert(data.Message);
							}
						},"json");
					}
				}

</script>